.title {
  text-align: center;
  background-color: silver;
}

.components-pc-and-tablet {
  max-width: 60%;
  margin: auto;
}

.prefectures-name-list {
  display: flex;
  flex-wrap: wrap;
}

.prefectures-name-list div {
  width: 25%;
}

.prefectures-name-list :hover {
  cursor: pointer;
}

.recharts-wrapper {
  margin: auto;
}
