.title {
  text-align: center;
  background-color: silver;
}

.prefectures-name-list {
  display: flex;
  flex-wrap: wrap;
}

.prefectures-name-list :hover {
  cursor: pointer;
}

.recharts-wrapper {
  margin: auto;
}
